<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="${currentdir}/logs/internal-nlog.txt">
  <!-- define various log targets -->  
  <targets>

    <target xsi:type="File" name="applog"
           layout="${date}|${uppercase:${level}}|${message} ${exception}"
           fileName="${currentdir}/logs/app.txt"
           archiveFileName ="${currentdir}/logs/app.{#}.txt"
           archiveNumbering ="Date"
           archiveEvery ="Month"
           archiveDateFormat="yyyyMM"
           maxArchiveFiles="3"
           keepFileOpen="false"
           encoding="utf-8"
            />
    <!--<target xsi:type="File" name="filesync"
           layout="${date}|${uppercase:${level}}|${message} ${exception}"
           fileName="${currentdir}/logs/filesync.txt"
           archiveFileName ="${currentdir}/logs/filesync.{#}.txt"
           archiveNumbering ="Date"
           archiveEvery ="Day"
           archiveDateFormat="yyyyMMdd"
           maxArchiveFiles="14"
           keepFileOpen="false"
           encoding="utf-8"
            />-->

    <target  xsi:type="WinConsole" name="winconsole" layout="${time}|${message} ${exception}" />
    
    <target xsi:type="Console" name="console"
          layout ="${time} ${message}"
    />
    
    <!--空紀錄-->
    <target xsi:type="Null" name="blackhole" />    
    
  </targets>

  <rules>
    <logger name="KmuApps.AppHost" minlevel="Trace" writeTo="applog" final="false" />
    <logger name="KmuApps.AppHost" minlevel="Trace" writeTo="console" final="false" />

    <logger name="KMUH.Spring.UI.Windows.Jobs.*" minlevel="Trace" writeTo="winconsole" final="false" />
    <logger name="KMUH.Spring.UI.Windows.Jobs.*" minlevel="Trace" writeTo="console" final="false" />
    
    
    <!--<logger name="MyApp" minlevel="Trace" writeTo="console" final="false" />-->
    
    <!--<logger name="FileSync" minlevel="Trace" writeTo="filesync" final="false" />-->
   
    
    <!--<logger name="WinformDeploy.UI.Script.Tasks.MeasureTask" minlevel="Trace" writeTo="tasklog" final="true" />--> 

    <logger name="*" minlevel="Trace" writeTo="blackhole" final="true" />
  </rules>
</nlog>